Package:accessbraillerap-debian
Version:0.5.8
Section:utils
Priority:optional
HomePage:https://www.braillerap.org
Architecture:amd64
Maintainer:Build with love by contact@braillerap.org
Description:Braille authoring tool for BrailleRAP open source embosser
 Braille transcription software for BrailleRAP. 
 AccessBrailleRAP allow you to input text, translate the text into Braille 
 and 'print' the Braille on a BrailleRAP embosser. 
 This software is compatible with NVDA screen reader.
 