Package:accessbraillerap-ubuntu
Version:0.5.10
Section:utils
Priority:optional
HomePage:https://www.braillerap.org
Depends:libc6 (>=2.39-0ubuntu8.3), libc6 (<<2.40), zlib1g
Architecture:amd64
Package-type: binary
Maintainer:Build with love by <contact@braillerap.org>
Description:Braille authoring tool for BrailleRAP open source embosser
 Braille transcription software for BrailleRAP. 
 AccessBrailleRAP allow you to input text, translate the text into Braille 
 and 'print' the Braille on a BrailleRAP embosser. 


